packaging==23.2
plotly==5.19.0
tenacity==8.2.3
tweepy
requests
matplotlib
wordcloud
transformers
bs4
selenium
pandas
datetime
urllib3
torch
numpy
statsmodels
scikit-learn
keras
rasterio
tensorflow-io
tensorflow
joblib
seaborn
pystan
prophet
xgboost
torchvision
einops
earthengine-api
shapely
geopandas
h5py
scikit-image
hyperopt
keras-tuner
joblib 
openai 
langchain
streamlit